# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
*.DS_Store

# Flask
instance/
.webassets-cache
.flaskenv

# MongoDB
*.dump
*.mongodump

# Redis
*.rdb

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
build/
dist/
*.egg-info/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Pruebas
htmlcov/
.pytest_cache/